<!--  Log4j2 configuration: logs to both console and a rolling file  -->
<Configuration status="WARN">
<Properties>
<Property name="LOG_PATTERN"> %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n </Property>
</Properties>
<Appenders>
<!--  Console output  -->
<Console name="Console" target="SYSTEM_OUT">
<PatternLayout pattern="${LOG_PATTERN}"/>
</Console>
<!--  File output under /logs  -->
<File name="FileLogger" fileName="logs/automation.log" append="true">
<PatternLayout pattern="${LOG_PATTERN}"/>
</File>
</Appenders>
<Loggers>
<Root level="info">
<AppenderRef ref="Console"/>
<AppenderRef ref="FileLogger"/>
</Root>
</Loggers>
</Configuration>